.panel-container {
  width: 60vw;
  min-height: 60vh;
  background-color: var(--white-color);
  border-radius: var(--default-border-radius);
  box-shadow: 0 0 2px 2px #00000015;
  padding: var(--medium-spacing);
}

.panel-container--large {
  width: 100%;
  min-height: 75vh;
}
