.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__title {
  font-size: 3rem;
  margin-bottom: var(--large-spacing);
}

.auth__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: var(--large-spacing);
}

.auth__form input + input {
  margin-top: var(--default-spacing);
}

.auth__form button {
  width: 160px;
  padding: var(--default-spacing);
  padding-bottom: 10px;
  background-color: var(--primary-color);
  color: var(--white-color);
  margin-top: var(--large-spacing);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
}
